<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.test.echo"
      version="0.1.0">
    <name>Echo</name>

    <js-module src="www/echo.js" name="org.apache.cordova.test.echo">
        <clobbers target="cordova.echo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo" >
                <param name="android-package" value="org.apache.cordova.test.Echo"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/android/Echo.java" target-dir="src/org/apache/cordova/test" />
    </platform>

</plugin>
